<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
	    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


    <context:component-scan base-package="org.jumbodb.database.service" />


    <bean id="jumboConfigProperties" class="org.jumbodb.database.configuration.JumboConfigurationLoader" factory-method="loadConfiguration"/>

    <context:property-placeholder
            properties-ref="jumboConfigProperties"
            local-override="false"
            ignore-resource-not-found="true"
            ignore-unresolvable="true"
            file-encoding="UTF-8" />

    <bean id="jumboConfig" class="org.jumbodb.database.service.configuration.JumboConfiguration">
        <constructor-arg value="${jumbodb.query.port}"/>
        <constructor-arg value="${jumbodb.import.port}"/>
        <constructor-arg value="${jumbodb.datapath}"/>
        <constructor-arg value="${jumbodb.indexpath}"/>
    </bean>

    <bean id="initializer" class="org.jumbodb.database.bootstrap.JumboDBInitializer" init-method="initialize">
        <constructor-arg ref="jumboConfig"/>
    </bean>

    <bean id="indexFileExecutor" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool" destroy-method="shutdown">
        <constructor-arg value="30" />
    </bean>

    <bean id="indexStrategyManager" class="org.jumbodb.database.service.query.index.IndexStrategyManager">
        <property name="strategies">
            <list>
                <bean class="org.jumbodb.database.service.query.index.hashcode.snappy.HashCodeSnappyIndexStrategy">
                    <property name="indexFileExecutor" ref="indexFileExecutor"/>
                </bean>
                <bean class="org.jumbodb.database.service.query.index.integer.snappy.IntegerSnappyIndexStrategy">
                    <property name="indexFileExecutor" ref="indexFileExecutor"/>
                </bean>
                <bean class="org.jumbodb.database.service.query.index.notfound.NotFoundIndexStrategy"/>
            </list>
        </property>

    </bean>

    <bean id="retrieveDataExecutor" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool" destroy-method="shutdown">
        <constructor-arg value="20" />
    </bean>

    <bean id="dataStrategyManager" class="org.jumbodb.database.service.query.data.DataStrategyManager">
        <property name="strategies">
            <list>
                <bean class="org.jumbodb.database.service.query.data.snappy.JsonSnappyDataStrategy">
                    <property name="retrieveDataExecutor" ref="retrieveDataExecutor"/>
                </bean>
                <bean class="org.jumbodb.database.service.query.data.notfound.NotFoundDataStrategy"/>
            </list>
        </property>

    </bean>

    <bean id="chunkExecutor" class="java.util.concurrent.Executors" factory-method="newCachedThreadPool" destroy-method="shutdown">
    </bean>

    <bean id="indexExecutor" class="java.util.concurrent.Executors" factory-method="newCachedThreadPool" destroy-method="shutdown">
    </bean>

    <bean id="jumboSearcher" class="org.jumbodb.database.service.query.JumboSearcher" init-method="onInitialize">
        <property name="chunkExecutor" ref="chunkExecutor"/>
        <property name="indexExecutor" ref="indexExecutor"/>
        <property name="dataStrategyManager" ref="dataStrategyManager"/>
        <property name="indexStrategyManager" ref="indexStrategyManager"/>
        <property name="jumboConfiguration" ref="jumboConfig"/>
    </bean>

    <bean id="queryServer" class="org.jumbodb.database.service.query.QueryServer" init-method="start" destroy-method="stop">
        <constructor-arg ref="jumboConfig"/>
        <constructor-arg ref="jumboSearcher"/>
    </bean>

    <bean id="importServer" class="org.jumbodb.database.service.importer.ImportServer" init-method="start" destroy-method="stop">
        <constructor-arg ref="jumboConfig"/>
        <constructor-arg ref="jumboSearcher"/>
        <constructor-arg ref="dataStrategyManager"/>
        <constructor-arg ref="indexStrategyManager"/>
    </bean>

    <bean id="storageManagement" class="org.jumbodb.database.service.management.storage.StorageManagement">
        <constructor-arg ref="jumboConfig"/>
        <constructor-arg ref="jumboSearcher"/>
    </bean>

    <bean id="statusService" class="org.jumbodb.database.service.management.status.StatusService">
        <constructor-arg ref="jumboConfig"/>
    </bean>

</beans>
