<div class="page-header">
    <h2>Collections</h2>
</div>

<div class="row">
    <div class="col-md-12">

        <div id="accordion2" class="panel-group">
            <div class="alert alert-danger" ng-show="msg.error">
                {{msg.message}}
            </div>
            <div class="alert alert-success" ng-show="msg.success">
                {{msg.message}}
            </div>
            <div class="panel panel-default" ng-repeat="collection in collections">
                <div class="panel-heading">
                    <div class="accordion-toggle">

                        <div class="row">
                            <div class="col-md-8">
                                <a href="#{{collection.collapseId}}" data-parent="#accordion2" data-toggle="collapse">
                                <strong>{{collection.name}}</strong>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <span class="label label-success space-label" ng-show="collection.active">Active </span>
                                <span class="label label-default space-label" ng-show="!collection.activeChunk">Chunk inactive </span>
                                <span class="label label-default space-label" ng-show="!collection.activeVersion">Version inactive </span>
                            </div>
                        </div>
                        <div style="font-size: smaller;">{{collection.datasets}} datasets - {{collection.formatedCompressedSize}} compressed data - {{collection.formatedUncompressedSize}} uncompressed data - {{collection.formatedIndexSize}} index</div>
                    </div>
                </div>
                <div class="panel-collapse" id="{{collection.collapseId}}" style="height: 0px;">
                    <div class="panel-body">
                        <p><strong>Collection Information</strong></p>
                        <ul>
                            <li ng-repeat="info in collection.infos">{{info}}</li>
                        </ul>
                        <!--<div ng-repeat="chunk in collection.chunks">-->
                            <!--<h4>Delivery Chunk {{chunk.key}}</h4>-->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Delivery / Version / Info</th>
                                    <th>Date</th>
                                    <th>Datasets</th>
                                    <th>Compressed</th>
                                    <th>Uncompressed</th>
                                    <th>Index</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="chunk in collection.chunks">
                                <tr class="active">
                                    <th><strong><small>{{chunk.key}}</small></strong></th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>
                                        <span class="label label-success" ng-show="chunk.active">Active</span>
                                        <span class="label label-default" ng-show="!chunk.active">Inactive</span>
                                    </th>
                                </tr>
                                <tr ng-repeat="version in chunk.versions">
                                    <td>
                                        <strong><small>{{version.version}}</small></strong>
                                        <p>{{version.info}}</p>
                                    </td>
                                    <td>{{version.date}}</td>
                                    <td>{{version.datasets}}</td>
                                    <td>{{version.formatedCompressedSize}}</td>
                                    <td>{{version.formatedUncompressedSize}}</td>
                                    <td>{{version.formatedIndexSize}}</td>
                                    <td>
                                        <span class="label label-success" ng-show="version.active">Active</span>
                                        <span class="label label-default" ng-show="!version.active">Inactive</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><strong>{{chunk.datasets}}</strong></td>
                                    <td><strong>{{chunk.formatedCompressedSize}}</strong></td>
                                    <td><strong>{{chunk.formatedUncompressedSize}}</strong></td>
                                    <td><strong>{{chunk.formatedIndexSize}}</strong></td>
                                    <td>&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr/>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>