<div class="page-header">
    <h2>Deliveries</h2>
</div>

<div class="row">
    <div class="span12">
        <div id="accordion2" class="accordion">
            <div class="alert alert-error" ng-show="msg.error">
                {{msg.message}}
            </div>
            <div class="alert alert-success" ng-show="msg.success">
                {{msg.message}}
            </div>
            <div class="accordion-group" ng-repeat="delivery in deliveries">
                <div class="accordion-heading">
                    <div class="accordion-toggle">
                        <div class="row">
                            <span class="span8">
                            <a href="#{{delivery.collapseId}}" data-parent="#accordion2" data-toggle="collapse">
                                <strong>{{delivery.chunkKey}} - {{delivery.version}}</strong>
                            </a>
                            </span>
                            <span class="label label-success offset2" ng-show="delivery.allRunning">All running </span>
                            <span class="label label-warning offset2" ng-show="delivery.someRunning">Some running </span>
                            <span class="label offset2" ng-show="delivery.noneRunning">None running </span>
                        </div>
                        <div style="font-size: smaller;">{{delivery.info}}</div>
                        <div style="font-size: smaller;">{{delivery.date}} - {{delivery.formatedCompressedSize}} compressed data - {{delivery.formatedUncompressedSize}} uncompressed data - {{delivery.formatedIndexSize}} index</div>
                    </div>
                </div>
                <div class="accordion-body collapse" id="{{delivery.collapseId}}" style="height: 0px;">
                    <div class="accordion-inner">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Collection</th>
                                    <th>Compressed</th>
                                    <th>Uncompressed</th>
                                    <th>Index</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="collection in delivery.collections">
                                    <td>{{collection.collectionName}}</td>
                                    <td>{{collection.formatedCompressedSize}}</td>
                                    <td>{{collection.formatedUncompressedSize}}</td>
                                    <td>{{collection.formatedIndexSize}}</td>
                                    <td>
                                        <span class="label label-success" ng-show="collection.active">Running</span>
                                        <button class="btn btn-inverse" ng-hide="collection.active" ng-click="activateChunkedVersionInCollection(collection.collectionName, delivery.chunkKey, delivery.version)" onclick="return confirm('Are you sure?');"><i class="icon-hand-right icon-white"></i> Activate</button>
                                    </td>
                                    <td><button class="btn btn-danger" ng-click="deleteChunkedVersionInCollection(collection.collectionName, delivery.chunkKey, delivery.version)" onclick="return confirm('Are you sure?');"><i class="icon-trash icon-white"></i></button></td>

                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><strong>{{delivery.formatedCompressedSize}}</strong></td>
                                    <td><strong>{{delivery.formatedUncompressedSize}}</strong></td>
                                    <td><strong>{{delivery.formatedIndexSize}}</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-inverse" ng-click="activateChunkedVersionForAllCollections(delivery.chunkKey, delivery.version)" onclick="return confirm('Are you sure?');"><i class="icon-hand-right icon-white"></i> Activate delivery version</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-danger" ng-click="deleteChunkedVersionForAllCollections(delivery.chunkKey, delivery.version)" onclick="return confirm('Are you sure?');"><i class="icon-trash icon-white"></i> Delete delivery version</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>