<div class="page-header">
    <h2>Replication</h2>
</div>

<div class="row">
    <div class="span12">
        <div id="accordion2" class="accordion">
            <div class="alert alert-error" ng-show="msg.error">
                {{msg.message}}
            </div>
            <div class="alert alert-success" ng-show="msg.success">
                {{msg.message}}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Host</th>
                    <th>Port</th>
                    <th>State</th>
                    <th style="width:50%">Progress</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="replication in replications">
                    <td>{{replication.host}}</td>
                    <td>{{replication.port}}</td>
                    <td>{{replication.state}}</td>
                    <td>
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: {{replication.percentage}}%;">{{replication.percentage}}%</div>
                        </div>
                        <p>
                           {{replication.status}}
                        </p>
                        <p>{{replication.formattedCurrent}} of {{replication.formattedTotal}} copied - Rate: {{replication.formattedCopyRate}}</p>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-show="replication.state == 'WAITING' || replication.state == 'RUNNING'" ng-click="" onclick="return confirm('Are you sure?');"><i class="icon-remove-sign icon-white"></i> Abort</button>
                        <button class="btn btn-danger" ng-show="replication.state != 'WAITING' && replication.state != 'RUNNING'" ng-click="" onclick="return confirm('Are you sure?');"><i class="icon-trash icon-white"></i> Delete</button>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>