/apache-tomcat-6.0.28/
.classpath
.project
.settings/
.springBeans
target
/bin
/classes
workspace
test-output
.iml
.idea
*.iml
*.ipr
*.iws
overlays/
ui/commerce/shop/overlays/
ui/commerce/backoffice/overlays/
overlays/
atlassian-ide-plugin.xml
.DS_Store
.~lock.*.csv*
.~lock.*.xls*
ui/shop/logs/
ui/backoffice/logs/
.gradle/
build/
gradle-app.setting
docs/shop-arch-doc/doc/
out/
logs/
coverage-error.log
rebel.xml
*.swp
*.pyc
scripts/data
scripts/geodata
comsystokeypair.pem
src/main/webapp/build.properties
src/main/webapp/html/js/smartsteps.min.js
mockedResponses/
src/main/webapp/html/js/env.js
src/main/webapp/html/tincr.json
