.classpath
.project
.settings/
.springBeans
target
/bin
/classes
workspace
test-output
.iml
.idea
*.iml
*.ipr
*.iws
overlays/
atlassian-ide-plugin.xml
.DS_Store
.~lock.*.csv*
.~lock.*.xls*
.gradle/
build/
gradle-app.setting
out/
logs/
coverage-error.log
rebel.xml
*.swp
*.pyc