<div>
    <form ng-submit="sayHello()">
        <input class="btn-primary" type="submit" value="say hello">
    </form>
    <div class="container">
        <div class="row" >
            <h3 class="chartHeadline">Number of Queries</h3>
            <div class="col-md-12" >
                <div id="firstChart" style="height:400px"></div>
            </div>
        </div>
        <div class="row">
            <h3 class="chartHeadline">Size of returned Data</h3>
            <div class="col-md-12">
                <div id="secondChart" style="height:400px"></div>
            </div>
        </div>
        <div class="row">
            <h3 class="chartHeadline">Response times</h3>
            <div class="col-md-12">
                <div id="thirdChart" style="height:400px"></div>
            </div>
        </div>
    </div>
</div>