<div>
    <div class="row">
        <div class="col-md-12">
            <h2>Server information</h2>
            <p/>

            <p style="font-weight: bold; color: green">
                Query Server is up and running on port {{status.queryPort}}
            </p>

            <p style="font-weight: bold; color: green">
                Import Server is up and running on port {{status.importPort}}
            </p>

            <p>
                Data path: {{status.dataPath}}
            </p>

            <p>
                Index path: {{status.indexPath}}
            </p>

            <p>
                Query protocol version: {{status.queryProtocolVersion}}
            </p>

            <p>
                Import protocol version: {{status.importProtocolVersion}}
            </p>

            <p>
                Storage format version: {{status.storageFormatVersion}}
            </p>

            <p>
                Number of queries since running: {{status.numberOfQueries}}
            </p>

            <p>
                Number of results since running: {{status.numberOfResults}}
            </p>

            <p>
                Maximum memory: {{status.maximumMemory}}
            </p>

            <p>
                Allocated memory: {{status.allocatedMemory}}
            </p>

            <p>
                Free memory: {{status.freeMemory}}
            </p>

            <p>
                Total free memory: {{status.totalFreeMemory}}
            </p>

            <p>
                {{status.startupTime}}
            </p>
            <p>
            <hr/>
            </p>
            <p>
                Index partition: {{status.indexDiskUsedSpace}} of {{status.indexDiskTotalSpace}} used ({{status.indexDiskUsedSpacePerc}} %)
            </p>
            <p>
                Data partition: {{status.dataDiskUsedSpace}} of {{status.dataDiskTotalSpace}} used ({{status.dataDiskUsedSpacePerc}} %)
            </p>

        </div>
    </div>
</div>

