@(info: ServerInformation)

@main(Html("<img src=\"https://a248.e.akamai.net/camo.github.com/e72121365e017859b38acbc10c09aec006bbc178/687474703a2f2f636f6d737973746f2e6769746875622e636f6d2f6a756d626f64622f696d672f706963732f6a756d626f2e706e67\" style=\"width:600px\"/>")) {
    
    <h2>Server information</h2>
    <p/>
    <p style="font-weight: bold; color: green">
        Query Server is up and running on port @info.queryPort
    </p>
    <p style="font-weight: bold; color: green">
        Import Server is up and running on port @info.importPort
    </p>
    <p>
        Data path: @info.dataPath
    </p>
    <p>
        Index path: @info.indexPath
    </p>
    <p>
      Number of queries since running: @info.numberOfQueries
    </p>
    <p>
      Number of results since running: @info.numberOfResults
    </p>
    <p>
      Maximum memory: @info.maximumMemory
    </p>
    <p>
      Allocated memory: @info.allocatedMemory
    </p>
    <p>
      Free memory: @info.freeMemory
    </p>
    <p>
      Total free memory: @info.totalFreeMemory
    </p>
    <p>
      Startup time: @info.startupTime
    </p>

    <p><button class="btn btn-primary" type="button" onclick="alert('Not yet implemented');">Reload indexes</button></p>
}