@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>jumboDB</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-responsive.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">jumboDB</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "collections"))">
                            <a href="@routes.Collections.overview">Collections</a>
                        </li>
                        <li class="@("active".when(nav == "deliveries"))">
                            <a href="@routes.Deliveries.overview">Deliveries</a>
                        </li>
                        <li class="@("active".when(nav == "browse"))">
                            <a href="@routes.Browse.overview">Browse</a>
                        </li>
                        <li class="@("active".when(nav == "maintenance"))">
                            <a href="@routes.Maintenance.overview">Maintenance</a>
                        </li>
                        <li class="@("active".when(nav == "monitoring"))">
                            <a href="@routes.Monitoring.overview">Monitoring</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h2>@title</h2>
                </div>

                <div class="row">
                    <div class="span12">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p/>
                <p>
                    <a href="http://www.jumbodb.org">www.jumbodb.org</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
